name: C/C++ CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: build-essential
      run: sudo apt-gt install build-essential
    - name:cmake- install
      run: sudo apt install cmake
    - name: make run
      run: make 
    
